<!DOCTYPE html>
<html lang="en" ng-app="todo">
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div>

<h1 class="head">ToDo</h1>
<div class="container">
<p>This app allows you to make a list of all of your ToDo's and lets you help with your routine work</p>
<p>More features to be added soon, Keep using till then!</p>
</div>
<div class="container" ng-controller="DisplayList">
    <p class="counter"><b>{{left()}}</b> remaining of <b>{{lists.length}}</b></p>

    <br>
    <form class="container1">
       <!-- <input type="text" placeholder="Enter Task here" ng-model="addedTask" class="text"/>-->
        <button type="button" class="addbutton" data-toggle="modal" data-target="#addList">Add Task</button>
        <div id="addList" class="modal fade" role="dialog">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Task</h4>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Enter title" ng-model="addTitle" class="text"/><p></p>
                    <textarea rows="4" cols="50" placeholder="Enter memo" ng-model="addMemo" class="text"></textarea>
                    <br>
                    <button type="button" class="addbutton" ng-click="add()" data-dismiss="modal">Add</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <button ng-click="remove()" type="button" class="removebutton">Remove completed tasks</button>
    </form>
    <br>
    <div class="alert alert-danger" ng-show="fail">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>No content to save. Discarded!</strong>
    </div>
    <div class="alert alert-success" ng-show="success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Content saved. Success!</strong>
    </div>

    <br>
    <ul ng-repeat="list in lists track by $index">
        <input type="checkbox" ng-model="list.done" class="checkbox">
        <span class="done-{{list.done}}">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span data-toggle="collapse" href="#collapse{{$index}}">{{list.title}}</span>
                        </h4>
                    </div>
                    <div id="collapse{{$index}}" class="panel-collapse collapse">
                        <div class="panel-body">{{list.text}}</div>
                    </div>
                </div>
            </div>
        </span>

        <hr style="opacity: 0.2">
    </ul>

    <br>
</div>

<footer>
    Made with <i class="fa fa-heart" style="color: red"></i> by Mishal
</footer>
</body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.6.0/angular-local-storage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="controller/main.js"></script>
</html>