body{
    background-color: lightgoldenrodyellow;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;

}
.done-true{
    color: black;
    opacity: 0.7;
    text-decoration: line-through;
    font-size: 20px;
}
.done-false{
    font-size: 20px;
}
.checkbox{
    zoom: 2;
    position: relative;
}
.addbutton{
    background-color: darkorange;
    border-color: darkorange;
    color: black;
    font-weight: bold;
    padding: 7px 7px 7px 7px;
    font-size: 15px;
}
.text{
    padding: 7px 7px 7px 7px;
}
.removebutton{
    background-color: gold;
    border-color: gold;
    float: right;
    position: relative;
    padding: 7px 7px 7px 7px;
    font-size: 15px;
    font-weight: bold;
}
textarea{
    max-width: 100%;
    min-height: 50%;
    min-width: 40%;
}
.head{
    background-color: darkorange;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.counter{
    background-color: rgba(165,215,230,0.87);
    font-size: 17px;
    display: inline-block;
    padding: 5px 5px 5px 5px;
}